<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
    <div class="container">

        <header class="mb-3">
            <div class="form-inline">
                <strong class="mr-md-auto">DANH SÁCH SẢN PHẨM</strong>
                <select class="mr-2 form-control">
                    <option>Mới nhất</option>
                    <option>Phổ biến nhất</option>
                    <option>Rẻ nhất</option>
                </select>
            </div>
        </header><!-- sect-heading -->

        <div class="row">
            <div class="col-md-3">
                <figure class="card card-product-grid">
                    <div class="img-wrap">
                        <span class="badge badge-danger"> MỚI NHẤT </span>
                        <img src="~/Content/images/áo/1.png" />
                    </div> <!-- img-wrap.// -->
                    <figcaption class="info-wrap">
                        <a href="" class="title mb-2">Áo thun nam </a>
                        <div class="price-wrap">
                            <span class="price">
                                250.000 VND
                            </span>
                            <small class="text-muted">/ sản phẩm</small>
                        </div> <!-- price-wrap.// -->

                        <hr>

                        <p class="mb-3">
                            <span class="tag"> <i class="fa fa-check"></i> Đã xác minh</span>
                            <span class="tag"> 2 năm </span>
                            <span class="tag"> 1000 bình luận </span>
                            <span class="tag"> Việt Nam </span>
                        </p>

                        <label class="custom-control mb-3 custom-checkbox">
                            <input type="checkbox" class="custom-control-input">
                            <div class="custom-control-label">
                                Thêm vào yêu thích
                            </div>
                        </label>

                        <a href="#" class="btn btn-outline-primary"> <i class="fa fa-envelope"></i> Thêm vào giỏ hàng </a>

                    </figcaption>
                </figure>
            </div> <!-- col.// -->

            <div class="col-md-3">
                <figure class="card card-product-grid">
                    <div class="img-wrap">
                        <img src="~/Content/images/áo/1.png" />
                    </div> <!-- img-wrap.// -->
                    <figcaption class="info-wrap">
                        <a href="#" class="title mb-2">Áo thun nam</a>
                        <div class="price-wrap">
                            <span class="price">
                                250.000 VND
                            </span>
                            <small class="text-muted">/ sản phẩm</small>
                        </div> <!-- price-wrap.// -->

                        <hr>

                        <p class="mb-3">
                            <span class="tag"> <i class="fa fa-check"></i> Đã xác minh</span>
                            <span class="tag"> 1 năm </span>
                            <span class="tag"> 500 bình luận </span>
                            <span class="tag"> Việt Nam </span>
                        </p>

                        <label class="custom-control mb-3 custom-checkbox">
                            <input type="checkbox" class="custom-control-input">
                            <div class="custom-control-label">
                                Thêm vào yêu thích
                            </div>
                        </label>

                        <a href="#" class="btn btn-outline-primary"> <i class="fa fa-envelope"></i> Thêm vào giỏ hàng </a>

                    </figcaption>
                </figure>
            </div> <!-- col.// -->

            <div class="col-md-3">
                <figure class="card card-product-grid">
                    <div class="img-wrap">
                        <img src="~/Content/images/áo/2.png" />
                    </div> <!-- img-wrap.// -->
                    <figcaption class="info-wrap">
                        <a href="#" class="title mb-2">Áo sơ mi nam</a>
                        <div class="price-wrap">
                            <span class="price">
                                400.000 VND
                            </span>
                            <small class="text-muted">/ sản phẩm</small>
                        </div> <!-- price-wrap.// -->

                        <hr>

                        <p class="mb-3">
                            <span class="tag"> <i class="fa fa-check"></i> Đã xác minh</span>
                            <span class="tag"> 2 năm </span>
                            <span class="tag"> 1000 bình luận </span>
                            <span class="tag"> Việt Nam </span>
                        </p>

                        <label class="custom-control mb-3 custom-checkbox">
                            <input type="checkbox" class="custom-control-input">
                            <div class="custom-control-label">
                                Thêm vào yêu thích
                            </div>
                        </label>

                        <a href="#" class="btn btn-outline-primary"> <i class="fa fa-envelope"></i> Thêm vào giỏ hàng </a>

                    </figcaption>
                </figure>
            </div> <!-- col.// -->

            <div class="col-md-3">
                <figure class="card card-product-grid">
                    <div class="img-wrap">
                        <img src="~/Content/images/áo/3.png" />
                    </div> <!-- img-wrap.// -->
                    <figcaption class="info-wrap">
                        <a href="#" class="title mb-2">Áo khoác jean tay dài</a>
                        <div class="price-wrap">
                            <span class="price">
                                00.000 VND
                            </span>
                            <small class="text-muted">/ sản phẩm</small>
                        </div> <!-- price-wrap.// -->

                        <hr>

                        <p class="mb-3">
                            <span class="tag"> <i class="fa fa-check"></i> Đã xác minh</span>
                            <span class="tag"> 2 năm </span>
                            <span class="tag"> 1000 bình luận </span>
                            <span class="tag"> Việt Nam </span>
                        </p>

                        <label class="custom-control mb-3 custom-checkbox">
                            <input type="checkbox" class="custom-control-input">
                            <div class="custom-control-label">
                                Thêm vào yêu thích
                            </div>
                        </label>

                        <a href="#" class="btn btn-outline-primary"> <i class="fa fa-envelope"></i> Thêm vào giỏ hàng </a>

                    </figcaption>
                </figure>
            </div> <!-- col.// -->

            <div class="col-md-3">
                <figure class="card card-product-grid">
                    <div class="img-wrap">
                        <img src="~/Content/images/áo/4.png" />
                    </div> <!-- img-wrap.// -->
                    <figcaption class="info-wrap">
                        <a href="#" class="title mb-2">Áo thun ba lỗ thể thao phong cách</a>
                        <div class="price-wrap">
                            <span class="price">
                                300.000 VND
                            </span>
                            <small class="text-muted">/ sản phẩm</small>
                        </div> <!-- price-wrap.// -->

                        <hr>

                        <p class="mb-3">
                            <span class="tag"> <i class="fa fa-check"></i> Đã xác minh</span>
                            <span class="tag"> 2 năm </span>
                            <span class="tag"> 1000 bình luận </span>
                            <span class="tag"> Việt Nam </span>
                        </p>

                        <label class="custom-control mb-3 custom-checkbox">
                            <input type="checkbox" class="custom-control-input">
                            <div class="custom-control-label">
                                Thêm vào yêu thích
                            </div>
                        </label>

                        <a href="#" class="btn btn-outline-primary"> <i class="fa fa-envelope"></i> Thêm vào giỏ hàng </a>

                    </figcaption>
                </figure>
            </div> <!-- col.// -->

            <div class="col-md-3">
                <figure class="card card-product-grid">
                    <div class="img-wrap">
                        <img src="~/Content/images/áo/5.png" />
                    </div> <!-- img-wrap.// -->
                    <figcaption class="info-wrap">
                        <a href="#" class="title mb-2">Áo thun nam có in chữ</a>
                        <div class="price-wrap">
                            <span class="price">
                                300.000 VND
                            </span>
                            <small class="text-muted">/ sản phẩm</small>
                        </div> <!-- price-wrap.// -->

                        <hr>

                        <p class="mb-3">
                            <span class="tag"> <i class="fa fa-check"></i> Đã xác minh</span>
                            <span class="tag"> 2 năm </span>
                            <span class="tag"> 1000 bình luận </span>
                            <span class="tag"> Việt Nam </span>
                        </p>

                        <label class="custom-control mb-3 custom-checkbox">
                            <input type="checkbox" class="custom-control-input">
                            <div class="custom-control-label">
                                Thêm vào yêu thích
                            </div>
                        </label>

                        <a href="#" class="btn btn-outline-primary"> <i class="fa fa-envelope"></i> Thêm vào giỏ hàng </a>

                    </figcaption>
                </figure>
                </figure>
            </div> <!-- col.// -->

            <div class="col-md-3">
                <figure class="card card-product-grid">
                    <div class="img-wrap">
                        <img src="~/Content/images/quần/1.png" />
                    </div> <!-- img-wrap.// -->
                    <figcaption class="info-wrap">
                        <a href="#" class="title mb-2">Quần jean phong cách retro</a>
                        <div class="price-wrap">
                            <span class="price">
                                500.000 VND
                            </span>
                            <small class="text-muted">/ sản phẩm</small>
                        </div> <!-- price-wrap.// -->

                        <hr>

                        <p class="mb-3">
                            <span class="tag"> <i class="fa fa-check"></i> Đã xác minh</span>
                            <span class="tag"> 2 năm </span>
                            <span class="tag"> 1000 bình luận </span>
                            <span class="tag"> Việt Nam </span>
                        </p>

                        <label class="custom-control mb-3 custom-checkbox">
                            <input type="checkbox" class="custom-control-input">
                            <div class="custom-control-label">
                                Thêm vào yêu thích
                            </div>
                        </label>

                        <a href="#" class="btn btn-outline-primary"> <i class="fa fa-envelope"></i> Thêm vào giỏ hàng </a>

                    </figcaption>
                </figure>
            </div> <!-- col.// -->

            <div class="col-md-3">
                <figure class="card card-product-grid">
                    <div class="img-wrap">
                        <img src="~/Content/images/quần/2.png" />
                    </div> <!-- img-wrap.// -->
                    <figcaption class="info-wrap">
                        <a href="#" class="title mb-2">Quần jean màu basic</a>
                        <div class="price-wrap">
                            <span class="price">
                                450.000 VND
                            </span>
                            <small class="text-muted">/ sản phẩm</small>
                        </div> <!-- price-wrap.// -->

                        <hr>

                        <p class="mb-3">
                            <span class="tag"> <i class="fa fa-check"></i> Đã xác minh</span>
                            <span class="tag"> 2 năm </span>
                            <span class="tag"> 1000 bình luận </span>
                            <span class="tag"> Việt Nam </span>
                        </p>

                        <label class="custom-control mb-3 custom-checkbox">
                            <input type="checkbox" class="custom-control-input">
                            <div class="custom-control-label">
                                Thêm vào yêu thích
                            </div>
                        </label>

                        <a href="#" class="btn btn-outline-primary"> <i class="fa fa-envelope"></i> Thêm vào giỏ hàng </a>

                    </figcaption>
                </figure>
            </div> <!-- col.// -->

            <div class="col-md-3">
                <figure class="card card-product-grid">
                    <div class="img-wrap">
                        <img src="~/Content/images/quần/3.png" />
                    </div> <!-- img-wrap.// -->
                    <figcaption class="info-wrap">
                        <a href="#" class="title mb-2">Quần jean eo thun co giãn thoải mái</a>
                        <div class="price-wrap">
                            <span class="price">
                                550.000 VND
                            </span>
                            <small class="text-muted">/ sản phẩm</small>
                        </div> <!-- price-wrap.// -->

                        <hr>

                        <p class="mb-3">
                            <span class="tag"> <i class="fa fa-check"></i> Đã xác minh</span>
                            <span class="tag"> 2 năm </span>
                            <span class="tag"> 1000 bình luận </span>
                            <span class="tag"> Việt Nam </span>
                        </p>

                        <label class="custom-control mb-3 custom-checkbox">
                            <input type="checkbox" class="custom-control-input">
                            <div class="custom-control-label">
                                Thêm vào yêu thích
                            </div>
                        </label>

                        <a href="#" class="btn btn-outline-primary"> <i class="fa fa-envelope"></i> Thêm vào giỏ hàng </a>

                    </figcaption>
                </figure>
            </div> <!-- col.// -->

            <div class="col-md-3">
                <figure class="card card-product-grid">
                    <div class="img-wrap">
                        <img src="~/Content/images/quần/4.png" />
                    </div> <!-- img-wrap.// -->
                    <figcaption class="info-wrap">
                        <a href="#" class="title mb-2">Quần jean tối giản màu be</a>
                        <div class="price-wrap">
                            <span class="price">
                                500.000 VND
                            </span>
                            <small class="text-muted">/ sản phẩm</small>
                        </div> <!-- price-wrap.// -->

                        <hr>

                        <p class="mb-3">
                            <span class="tag"> <i class="fa fa-check"></i> Đã xác minh</span>
                            <span class="tag"> 2 năm </span>
                            <span class="tag"> 1000 bình luận </span>
                            <span class="tag"> Việt Nam </span>
                        </p>

                        <label class="custom-control mb-3 custom-checkbox">
                            <input type="checkbox" class="custom-control-input">
                            <div class="custom-control-label">
                                Thêm vào yêu thích
                            </div>
                        </label>

                        <a href="#" class="btn btn-outline-primary"> <i class="fa fa-envelope"></i> Thêm vào giỏ hàng </a>

                    </figcaption>
                </figure>
            </div> <!-- col.// -->

            <div class="col-md-3">
                <figure class="card card-product-grid">
                    <div class="img-wrap">
                        <img src="~/Content/images/quần/5.png" />
                    </div> <!-- img-wrap.// -->
                    <figcaption class="info-wrap">
                        <a href="#" class="title mb-2">
                            Quần jean tối giản màu trắng
                        </a>
                        <div class="price-wrap">
                            <span class="price">
                                500.000 VND
                            </span>
                            <small class="text-muted">/ sản phẩm</small>
                        </div> <!-- price-wrap.// -->

                        <hr>

                        <p class="mb-3">
                            <span class="tag"> <i class="fa fa-check"></i> Đã xác minh</span>
                            <span class="tag"> 2 năm </span>
                            <span class="tag"> 1000 bình luận </span>
                            <span class="tag"> Việt Nam </span>
                        </p>

                        <label class="custom-control mb-3 custom-checkbox">
                            <input type="checkbox" class="custom-control-input">
                            <div class="custom-control-label">
                                Thêm vào yêu thích
                            </div>
                        </label>

                        <a href="#" class="btn btn-outline-primary"> <i class="fa fa-envelope"></i> Thêm vào giỏ hàng </a>

                    </figcaption>
                </figure>
            </div> <!-- col.// -->

            <div class="col-md-3">
                <figure class="card card-product-grid">
                    <div class="img-wrap">
                        <img src="~/Content/images/quần/1.png" />
                    </div> 
                    <figcaption class="info-wrap">
                        <a href="#" class="title mb-2">Quần jean phong cách retro</a>
                        <div class="price-wrap">
                            <span class="price">
                                500.000 VND
                            </span>
                            <small class="text-muted">/ sản phẩm</small>
                        </div>  

                        <hr>

                        <p class="mb-3">
                            <span class="tag"> <i class="fa fa-check"></i> Đã xác minh</span>
                            <span class="tag"> 2 năm </span>
                            <span class="tag"> 1000 bình luận </span>
                            <span class="tag"> Việt Nam </span>
                        </p>

                        <label class="custom-control mb-3 custom-checkbox">
                            <input type="checkbox" class="custom-control-input">
                            <div class="custom-control-label">
                                Thêm vào yêu thích
                            </div>
                        </label>

                        <a href="#" class="btn btn-outline-primary"> <i class="fa fa-envelope"></i> Thêm vào giỏ hàng </a>

                    </figcaption>
                </figure>
            </div>  


        <nav class="mb-4" aria-label="Page navigation sample">
            <ul class="pagination">
                <li class="page-item disabled"><a class="page-link" href="#">Trước</a></li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item"><a class="page-link" href="#">Sau</a></li>
            </ul>
        </nav>


    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
